<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title>bag</title>
</head>

    <body> 
    <%- include('../partials/header') %>
        <h1>bag</h1>
    <div class="actions">
   
    <table>
        <tr>
            <th>name</th>
            <th>brand</th>
            <th>price</th>
            <th>stock</th>
            <th>Actions</th>
        </tr>

        <% bag.forEach(item=> { %>
            <tr>
                <td>
                    <%= item.name %>
                </td>
                <td>
                    <%= item.brand %>
                </td>
                <td>
                    <%= item.price %>
                </td>
                <td>
                    <%= item.stock %>
                </td>

                <td>

                        <a href="/bag/<%= item.id %>">View</a>
                        <a href="/bag/update/<%= item.id %>">Edit</a>

                        <form action="/bag/delete/<%= item.id %>" method="POST" style="display:inline;"> <button type="submit" class="btn delete"
  onclick="return confirm('Are you sure?')">
  Delete
</button>
                        </form>
                </td>
            </tr>
            <% }) %>
    </table>
    
    </div>
    <a href="/bag/create">Create New bag</a>
        <a href="/">Back to Home</a>
     <%- include('../partials/footer') %>
</body>

</html>